footer {
  background-color: var(--dark-bg);
  color: #999999;
  padding: 40px 0;
  flex-shrink: 0;
  width: 100%;

  hr {
    color: var(--grey);
    margin: 40px 0;
  }
  
  span {
    line-height: 20px;
  }
}

.footer__links-cont {
  display: flex;
}

.footer__socials-cont {
  display: flex;
  gap: 15px;
}

.footer__links-cont {
  display: flex;
  justify-content: space-between;
}
