footer {
  background-color: var(--dark-bg);
  color: #999999;
  padding: 40px 0;
  flex-shrink: 0;
  width: 100%;

  hr {
    color: var(--grey);
    margin: 40px 0;
  }
  
  span {
    line-height: 20px;

    @media screen and (@screen-tablet-max) {
      display: block;
      max-width: 80%;
    }

    @media screen and (max-width: 530px) {
      max-width: none;
    }
  }
}

.footer__socials-cont {
  display: flex;
  gap: 15px;
}

.footer__links-cont {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 530px) {
    flex-direction: column;
    gap: 16px;
  }
}

.footer__logo {
    @media screen and (max-width: 615px) {
      display: none;
  }
}
