@service_background: #EEEEEE;

.services {
    .element_size(240px);
    margin-top: 30px;
    background-color: @service_background;
    display: flex;
    align-items: center;

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        line-height: 20px;

        @media screen and (min-width: @desktop) {
            .element_size(130px);
            display: grid;
            grid-template-columns: repeat(1fr, 3);
            grid-auto-flow: column;
        }
    }

    .service {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        &__text {
            &--mobile {
                display: block;
            }

            &--desktop {
                display: none;
            }
        }
    }

    @media screen and (min-width: @tablet) {
        .element_size(100px);

        &__content {
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
        }

        .service {
            gap: 10px;

            &__text {
                &--mobile {
                    display: none;
                }

                &--desktop {
                    display: block;
                }
            }
        }
    }
}