.services {
  background-color: #eeeeee;
  margin-top: 80px;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    //width: 200px;
    gap: 20px;
    font-size: 14px;
    flex: 1;
  }

  &__inner {
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 930px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
}