.support{
    background: #eee;
    width: 100%;

}

.support_container{
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 16px;
}
.support img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.support__div{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.support__div:last-of-type{
    margin-bottom: 0px;
}
@media screen and (@screen-tablet) {
    .support_container{
        display: flex;
        height: 100px;
    }
    .support__div{
    display:flex;
    justify-content: space-between;
    width: 220px;
    height: 40px;
    margin-bottom: 0px;
}
}