@screen-tablet: ~'(min-width: 768px)';
@screen-desktop: ~'(min-width: 1024px)';

@font-face {
    font-family: "Novelist";
    src: url(../fonts/Novelist.otf);
    font-weight: normal;
}


:root {
    --color-dark: #212122;
}

* {
    box-sizing: border-box;
}

body {
    font: 14px/1.2 Arial, sans-serif;
    color: #333;
    margin: 0;
    position: relative;
}

h1, h2, h3, h4 {
    font-family: "Roboto Condensed", Arial, sans-serif;
}

h2 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 4px;
    font-weight: 700;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
}

.content {
    padding: 0 16px;
}

.hidden {
    display: none;
}

