@screen-tablet: ~'(min-width: 768px)';
@screen-tablet-max: ~'(max-width: 768px)';
@screen-mobile: ~'(min-width: 320px)';

@font-face {
    font-family: "Novelist";
    src: url(../fonts/Novelist.otf);
    font-weight: normal;
}

:root {
    --color-dark: #212122;
    --btn-bg: #0F8FEE;
    --light-grey:#DFDEDD;
    --dark-bg: #212122;
    --grey: #666666;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.2 Arial, sans-serif;
    color: #333;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    font-family: "Roboto Condensed", Arial, sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 44px;
    margin: 0;
    font-weight: 400;
}

h2 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 4px;
    font-weight: 700;
    margin-top: 10px;
}

.container {
    max-width: 930px;
    margin: 0 auto;

    @media screen and (min-width: 930px) {
        box-sizing: content-box;
    }

    @media screen and (max-width: 960px) {
        max-width: 96vw;
    }

    @media screen and (@screen-tablet-max) {
        max-width: 90vw;
    }
}

.content {
    padding: 0 16px;
}

button {
    color: white;
    background-color: var(--btn-bg);
}